<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Motor Oil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">

    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/section.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/images.css">
    <link rel="stylesheet" href="/css/logo.css">

</head>
<body>

<div class="w3-sidebar w3-bar-block w3-border-right left-side-bar" style="display:none" id="mySidebar">
    <button onclick="w3_close()" class="w3-bar-item w3-large" style="background-color: black; color: #BFA181">Close
        &times;
    </button>
    <button onclick="window.location.href='/consumption'" class="side-bar-button">Consumption</button>
    <button onclick="window.location.href='/models'" class="side-bar-button">Models</button>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<div class="side-bar">
    <button class="side-bar-navigation-button" onclick="w3_open()">☰</button>

    <button onclick="window.location.href='/configurator'" class="side-bar-button">Configurator</button>
    <button onclick="window.location.href='/service'" class="side-bar-button">Service</button>
    <button onclick="window.location.href='/testDrive'" class="side-bar-button">Test-Drive</button>

    <a href="/">
        <img class="logo-img" src="/images/TM-logo-white.png" alt="TM">
    </a>

    <button onclick="window.location.href='/accessories'" class="side-bar-button">Accessories</button>
    <button onclick="window.location.href='/discoverUs'" class="side-bar-button">Discover our history</button>
    <button onclick="window.location.href='/contact'" class="side-bar-button">Contact</button>

    <button onclick="window.location.href='/'" class="side-bar-cart-button"><i class="bi bi-cart4"></i></button>
</div>

<div class="main-div">

    <div class="text-block">
        <h1><b>Premium Engine Oils</b><br></h1>
        <h2>Keep your diesel and gasoline engines running smoothly with our high-performance oils.</h2>
        <p>
            Ensure your engine runs smoothly with our high-performance motor oils, designed for both diesel and gasoline
            engines. Our diesel engine oil provides exceptional protection against wear and tear, improving engine
            longevity and performance, while the gasoline engine oil ensures optimal efficiency and smooth operation.
            Whether you drive a diesel or a gasoline vehicle, our oils are formulated to meet the specific needs of your
            engine, providing superior protection, reducing emissions, and enhancing fuel efficiency.
        </p>
    </div>

    <div class="accessory-categories-section">
        <div class="category-block" th:each="accessory : ${accessories}">

            <a th:href="@{'/accessories/details?accessoryId=' + ${accessory.id}}">
                <div class="accessory-image">
                    <img alt="Image"
                         th:src="@{${accessory.imageUrl}}" src="">
                </div>

                <div class="accessory-text">
                    <h2 th:text="${accessory.name}"></h2>
                    <b><p th:text="${accessory.price} + ' RON'"></p></b>
                </div>
            </a>
        </div>
    </div>
</div>

<script>
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
    }
</script>

</body>
</html>