<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TM</title>
    <link rel="stylesheet">

    <style>
        div.myDiv {
	        width: 50%;
			margin: auto;
			border: 2px solid black;
			text-align: center;
        }

        body {
	        text-align: center;
			box-align: center;
		}
    </style>
</head>
<body>

<div class="myDiv">
    <h1>Home Page here ----->>>></h1>

    <button onclick="window.location.href='/configurator'">Configurator</button>
</div>

</body>
</html>