<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Offer Confirmation</title>
</head>
<body>

<h1> Thank you for the offer request!
  Your offer request has been successfully sent.
  You'll be contacted soon by one of you dealers.
  Here is a quick preview of your configuration.
</h1>

<p>Model:</p>
<span th:text="${offerRequest.sedan.exteriorColor} + ', ' + ${offerRequest.sedan.interiorColor} + ', ' +${offerRequest.sedan.engineType}"></span>

<p>Client Details:</p>
<span th:text="${offerRequest.firstName} + ' ' + ${offerRequest.lastName}"></span>

<p>Email:</p>
<span th:text="${offerRequest.email}"></span>

<p>Phone Number:</p>
<span th:text="${offerRequest.phoneNumber}"></span>

<p>Offer request created at:</p>
<span th:text="${#temporals.format(offerRequest.dateTime, 'dd/MM/yyyy HH:mm')}"></span>

</body>
</html>