<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sedan View</title>
</head>
<body>

<div>
    <h1>
        Your sedan here ---->>
    </h1>
</div>

<p>Exterior: <span th:text="${configuredSedanDto.exteriorColor}"></span></p>
<p>Interior: <span th:text="${configuredSedanDto.interiorColor}"></span></p>
<p>Engine: <span th:text="${configuredSedanDto.engineType.description}"></span></p>
<p>Final price: <span th:text="${configuredSedanDto.finalPrice} + ' ' + Euro"></span></p>

<form th:action="@{/configurator/sedanOfferRequest}" method="get">
    <input type="hidden" name="id" th:value="${configuredSedanDto.id}" />
    <button type="submit">Request Offer</button>
</form>

</body>
</html>