<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sedan View</title>
</head>
<body>

<div>
    <h1>
        Your sedan here ---->>
    </h1>
</div>

<p>Exterior: <span th:text="${configuredSedan.exteriorColor}"></span></p>
<p>Interior: <span th:text="${configuredSedan.interiorColor}"></span></p>
<p>Engine: <span th:text="${configuredSedan.engineType.description}"></span></p>
<p>Final price: <span th:text="${configuredSedan.finalPrice} + ' ' + Euro"></span></p>

</body>
</html>