.submit-button {
    background-color: #000000;
    color: #BFA181;
    border-radius: 9999px;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    margin: auto;
    display: block;
    scale:1.2;
}

.submit-button:hover {
    scale: 1.25;
}

.btn-outline-custom {
    color: #BFA181;
    border: 2px solid #BFA181;
    border-radius: 100px;
    padding:20px;
    margin:5px;
}

.btn-outline-custom:hover,
.btn-check:checked + .btn-outline-custom {
    background-color: #BFA181;
    color: #000000;
    scale: 1.05;
}

.side-bar-navigation-button {
    position: absolute;
    left: 20px;
    font-size: 30px;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #BFA181;
}