.main-div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}