.section {
    background-color: #F1EFEC;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    aspect-ratio: 2 / 1;
    border-radius: 50px;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.left {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #F1EFEC;
    border-radius: 50px;
}

.right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #000000;
    color: #BFA181;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
}

.spin-view-div {
    background-color: #F1EFEC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 2 / 1;
    border-radius: 50px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;
}

.up {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-color: #F1EFEC;
    border-radius: 50px;
}

.down {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    background-color: #000000;
    color: #BFA181;
    padding-top: 20px;
    text-align: center;
    border-radius: 50px;
}

.form-div {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #F1EFEC;
    color: #BFA181;
    border-radius: 50px;
    padding: 30px;
}

.form-label {
    background-color: #000000;
    color: #BFA181;
    border-radius: 50px;
    padding: 10px;
    width: 220px;
}

.confirmation {
    background-color: #F1EFEC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    border-radius: 50px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;
}

.section-configurator-choice {
    background-color: #F1EFEC;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    aspect-ratio: 2 / 1;
    border-radius: 50px;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.sedan-configurator-choice,
.suv-configurator-choice {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000000;
    color: #BFA181;
    border-radius: 50px;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.sedan-configurator-choice:hover,
.suv-configurator-choice:hover {
    scale: 1.2;
}
