.section {
    background-color: #F1EFEC;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    aspect-ratio: 2 / 1;
    border-radius: 50px;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.left, .model-image {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #F1EFEC;
    border-radius: 50px;
}

.right, .model-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #000000;
    color: #BFA181;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
}

.spin-view-div {
    background-color: #F1EFEC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 2 / 1;
    border-radius: 50px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;
}

.up {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-color: #F1EFEC;
    border-radius: 50px;
}

.down {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    background-color: #000000;
    color: #BFA181;
    padding-top: 20px;
    text-align: center;
    border-radius: 50px;
}

.form-div {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #F1EFEC;
    color: #BFA181;
    border-radius: 50px;
    padding: 30px;
}

.form-label {
    background-color: #000000;
    color: #BFA181;
    border-radius: 50px;
    padding: 10px;
    width: 220px;
}

.confirmation {
    background-color: #F1EFEC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    border-radius: 50px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;
}

.section-configurator-choice,
.accessory-categories-section {
    background-color: #F1EFEC;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    aspect-ratio: 2 / 1;
    border-radius: 50px;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.sedan-configurator-choice,
.suv-configurator-choice {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000000;
    color: #BFA181;
    border-radius: 50px;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.sedan-configurator-choice:hover,
.suv-configurator-choice:hover {
    scale: 1.2;
}

.model-type-selector,
.date-time-selector,
.dealership-location-selector {
    scale:1.2;
    border-radius: 50px;
}

.text-block {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
    color: #000000;
}

.text-block h2 {
    color: #BFA181;
    font-size: 28px;
    margin-bottom: 20px;
}

.text-block p {
    font-size: 18px;
    line-height: 1.6;
    color: #333333;
}

.home-page-text-section,
.contact-page-text-section,
.consumption-page-text-section {
  position: relative;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 2px #BFA181;
  border-radius: 50px;
}

.home-page-text-section:hover,
.contact-page-text-section:hover,
.consumption-page-text-section:hover {
    scale: 1.05;
    background-color: #F1EFEC;
}

.text-block-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 20px;
}

.category-block {
  display: inline-block;
  width: 200px;
  margin: 10px;
  text-align: center;
  vertical-align: top;
}

.category-block:hover {
  scale: 1.1;
}

.accessory-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px
}

.accessory-image img {
  width: 100%;
  max-width: 250px;
  height: 250px;
  object-fit: contain;
}

.accessory-text {
  font-size: 14px;
  color: #333;
  font-weight: normal;
}

.accessory-text p
.accessory-details-text p {
  font-size: 18px;
  line-height: 1.6;
  color: #333333;
}

.accessory-text h2,
.accessory-details-text h2 {
  color: #BFA181;
  font-size: 28px;
  margin-bottom: 20px;
}

.accessory-details-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.accessory-details-text {
    text-align: center;
    justify-content: justify;
    margin: 10px 50px;
    padding: 10px 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.accessory-details-image img {
  max-width: 400px;
  height: 400px;
  object-fit: contain;
}
